ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,div.paragraph,blockquote,fieldset,input{ margin:0; padding:0; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{ margin:0; padding:0; }
 ul{ list-style:none; }
 fieldset{ border:0; }
 a img{ border:0; }
 .clear{ clear:both; }
 body { background: url(theme/bodybg.jpg?228313) top repeat-x; background-color:#000000; font-family: arial, sans-serif; font-size:12px; color:#666666; margin:0; padding:0; }
 div.paragraph { line-height: 170%; color: #fff; font-size: 13px; padding-bottom:12px; margin: 5px 0px 5px 0px; }
 p { line-height: 170%; color: #fff; font-size: 13px; padding-bottom:12px; margin: 5px 0px 5px 0px; }
 h1 { font-size:30px; font-weight:normal; color:#ffffff; margin: 0px 0px 10px 0px; }
 h2 { font-size:24px; font-weight:normal; font-family: arial, sans-serif; color:#bdbdbd; padding: 8px 0px 8px 0px; }
 #wrapper { width:960px; margin:0pt auto; }
 #header{ width: 960px; height: 96px; }
 #headerleft{ float: left; font-size:30px; font-weight:normal; color:#ffffff; padding: 30px 40px 30px 0px; }
 #header ul{ display: inline; position: relative; margin: 0; padding: 0; }
 #header ul li { float: left; margin: 38px 22px 0px 22px; }
 #header ul li.last{ margin: 0px 0px 0px 22px; }
 #header ul li a{ color: #999999; font-size: 16px; text-decoration: none; }
 #header ul li a:hover , #header ul li#active a{ color: #fff; }
 #wsite-menus .wsite-menu-wrap { z-index: 5000; margin: 42px 0px 0px 0px; }
 #wsite-menus .wsite-menu { padding: 0; margin: 0; list-style: none; }
 #wsite-menus .wsite-menu li { float: left; clear: left; width: 163px; text-align: left; }
 #wsite-menus .wsite-menu li a { position: relative; display: block; width: 161px; background: #525151; border-top: 1px solid #525151; border-bottom: 1px #525151 solid; text-decoration: none; font-size: 13px; font-weight: normal; line-height:1; padding: 6px 0px 6px 0px; color: #fff; border-left: 1px solid #333333; border-right: 1px solid #333333; border-bottom: 1px solid #333333; }
 #wsite-menus .wsite-menu li a:hover { background: #636262; border-top: 1px solid #686868; border-bottom: 1px #333333 solid;}
 #banner{ width: 383.5px; height: 249px; border: 1px #666666 solid; padding: 2px 1px 1px 2px; }
 .wsite-header{ width: 383.5px; height: 249px; background: url(theme/default_header.jpg?228313); }
 #content{ width: 960px; min-height: 450px; _height: 450px; padding: 20px 0px 20px 0px; }
 #content a{ color: #fc7b1b; text-decoration: none; }
 #footer{ width: 960px; padding: 31px 0px 20px 0px; border-top: 1px #666666 solid; color: #666666; font-size: 14px; font-weight: 14px; text-align: right; }
 #footer a{ color: #fc7b1b; text-decoration: none; }
 #footer .weebly-footer a{ color: #666666; }

div.paragraph ul, div.paragraph ol { padding-left: 25px !important; margin: 5px 0 !important; overflow:hidden; }
div.paragraph li { padding-left: 5px !important; margin: 3px 0 0 !important; }
div.paragraph ul, div.paragraph ul li { list-style: disc outside !important; }
div.paragraph ol, div.paragraph ol li { list-style: decimal outside !important; }
